<DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="CSS/dashboard.css">
        <link href="CSS/theme.css" rel="stylesheet" media="all">
    
        

        <title>DSCSDEC</title>
    </head>
    <body id="body-pd">
        <header class="header" id="header">
            <div class="header__toggle">
                <i class='bx bx-menu' id="header-toggle"></i>
                <span>Academics</span>
            </div>

            <div class="header__img" title="UserName">
                <img src="images/pic.JPG" alt="">
                
            </div>
           
        </header>

        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div>
                    <a href="/" class="nav__logo" title="Dr. Sudhir Chandra Sur Degree Engineering College">
                        <img src="images/logo.jpeg" class="main-logo">
                        <span class="nav__logo-name">DSCSDEC</span>
                    </a>
    
                    <div class="nav__list">
                        <a href="/dashboard" class="nav__link " title="Dashboard" type="submit">
                            <i class='bx bx-home nav__icon'></i>
                            <span class="nav__name">Dashboard</span>
                        </a>
    
                        <a href="/resource" class="nav__link" title="Resources">
                            <i class='bx bx-book nav__icon'></i>
                            <span class="nav__name">Resources</span>
                        </a>
    
                        <a href="/announcements" class="nav__link" title="Announcemnets">
                            <i class='bx bx-notification nav__icon'></i>
                            <span class="nav__name">Announcemnets</span>
                        </a>
    
                        <a href="/acedmics" class="nav__link active" title="Acedmics">
                            <i class='bx bx-book-reader nav__icon'></i>
                            <span class="nav__name">Acedmics</span>
                        </a>
    
                        <a href="/articles" class="nav__link" title="Articles">
                            <i class='bx bx-book-content nav__icon'></i>
                            <span class="nav__name">Articles</span>
                        </a>
    
                        <!-- <a href="#" class="nav__link" title="Profile">
                            <i class='bx bx-user nav__icon'></i>
                            <span class="nav__name">Profile</span>
                        </a> -->
                    </div>
                </div>
    
                <a href="/users/logout" class="nav__link" title="Log Out">
                    <i class='bx bx-log-out nav__icon'></i>
                    <span class="nav__name">Log Out</span>
                </a>
            </nav>
        </div>

       <div class="main-frame">
        <div class="main">


            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">

                        <div class="row m-t-30">
                            <div class="col-md-12">
                                <!-- DATA TABLE-->
                                <div class="table-responsive m-b-40">
                                    <table class="table table-borderless table-data3">
                                        <thead>
                                            <h1>Theory CA Maks</h1>
                                            <tr>
                                                <th>Subject</th>
                                                <th>Code</th>
                                                <th>CA1</th>
                                                <th>CA2</th>
                                                <th>CA3</th>
                                                <th>CA4</th>
                                                <th>Teacher</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>sub1</td>
                                                <td>CS701</td>
                                                <td>23</td>
                                                <td>24</td>
                                                <td>25</td>
                                                <td>23</td>
                                                <td>Mr. XYZ</td>
                                            </tr>
                                            <tr>
                                                <td>sub1</td>
                                                <td>CS701</td>
                                                <td>23</td>
                                                <td>24</td>
                                                <td>25</td>
                                                <td>23</td>
                                                <td>Mr. XYZ</td>
                                            </tr>
                                            <tr>
                                                <td>sub1</td>
                                                <td>CS701</td>
                                                <td>23</td>
                                                <td>24</td>
                                                <td>25</td>
                                                <td>23</td>
                                                <td>Mr. XYZ</td>
                                            </tr>
                                            <tr>
                                                <td>sub1</td>
                                                <td>CS701</td>
                                                <td>23</td>
                                                <td>24</td>
                                                <td>25</td>
                                                <td>23</td>
                                                <td>Mr. XYZ</td>
                                            </tr>
                                            <tr>
                                                <td>sub1</td>
                                                <td>CS701</td>
                                                <td>23</td>
                                                <td>24</td>
                                                <td>25</td>
                                                <td>23</td>
                                                <td>Mr. XYZ</td>
                                            </tr>
                                            <tr>
                                                <td>sub1</td>
                                                <td>CS701</td>
                                                <td>23</td>
                                                <td>24</td>
                                                <td>25</td>
                                                <td>23</td>
                                                <td>Mr. XYZ</td>
                                            </tr>
                                            <tr>
                                                <td>sub1</td>
                                                <td>CS701</td>
                                                <td>23</td>
                                                <td>24</td>
                                                <td>25</td>
                                                <td>23</td>
                                                <td>Mr. XYZ</td>
                                            </tr>
                                            <tr>
                                                <td>sub1</td>
                                                <td>CS701</td>
                                                <td>23</td>
                                                <td>24</td>
                                                <td>25</td>
                                                <td>23</td>
                                                <td>Mr. XYZ</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END DATA TABLE-->
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-9">
                                <div class="table-responsive table--no-card m-b-30">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <h1>Practicals CA Maks</h1>
                                            <tr>
                                                <th>Subject</th>
                                                <th>Code</th>
                                                <th>PA1</th>
                                                <th>PA2</th>
                                                <th>Teacher</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>sub1</td>
                                                <td>CS701</td>
                                                <td>23</td>
                                                <td>24</td>
                                                <td>Mr. XYZ</td>
                                            </tr>
                                            <tr>
                                                <td>sub1</td>
                                                <td>CS701</td>
                                                <td>23</td>
                                                <td>24</td>
                                                <td>Mr. XYZ</td>
                                            </tr>
                                            <tr>
                                                <td>sub1</td>
                                                <td>CS701</td>
                                                <td>23</td>
                                                <td>24</td>
                                                <td>Mr. XYZ</td>
                                            </tr>
                                            <tr>
                                                <td>sub1</td>
                                                <td>CS701</td>
                                                <td>23</td>
                                                <td>24</td>
                                                <td>Mr. XYZ</td>
                                            </tr>
                                        
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                           
                            
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <!-- USER DATA-->
                                <div class="user-data m-b-30">
                                    <h3 class="title-3 m-b-30">
                                        <i class="zmdi zmdi-account-calendar"></i>Class Test Result</h3>
                                    
                                    <div class="table-responsive table-data">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <td>
                                                       Subject Code
                                                    </td>
                                                    <td>Test</td>
                                                    <td>Maks</td>
                                                    <td>Date</td>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        Subj1
                                                    </td>
                                                    <td>
                                                        Slot 1
                                                    </td>
                                                    <td>
                                                        23
                                                    </td>
                                                    <td>
                                                        25th March 2019
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Subj1
                                                    </td>
                                                    <td>
                                                        Slot 1
                                                    </td>
                                                    <td>
                                                        23
                                                    </td>
                                                    <td>
                                                        25th March 2019
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Subj1
                                                    </td>
                                                    <td>
                                                        Slot 1
                                                    </td>
                                                    <td>
                                                        23
                                                    </td>
                                                    <td>
                                                        25th March 2019
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Subj1
                                                    </td>
                                                    <td>
                                                        Slot 1
                                                    </td>
                                                    <td>
                                                        23
                                                    </td>
                                                    <td>
                                                        25th March 2019
                                                    </td>
                                                    
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                </div>
                                <!-- END USER DATA-->
                            </div>
                            <div class="col-lg-6">
                                <!-- TOP CAMPAIGN-->
                                <div class="top-campaign">
                                    <h3 class="title-3 m-b-30">Upcoming Class Test</h3>
                                    <div class="table-responsive">
                                        <table class="table table-top-campaign">
                                            <tbody>
                                                <tr>
                                                    <td>Subject Test 1</td>
                                                    <td>25 May 2019</td>
                                                </tr>
                                                <tr>
                                                    <td>Subject Test 1</td>
                                                    <td>25 May 2019</td>
                                                </tr>
                                                <tr>
                                                    <td>Subject Test 1</td>
                                                    <td>25 May 2019</td>
                                                </tr>
                                                <tr>
                                                    <td>Subject Test 1</td>
                                                    <td>25 May 2019</td>
                                                </tr>
                                                <tr>
                                                    <td>Subject Test 1</td>
                                                    <td>25 May 2019</td>
                                                </tr>
                                                <tr>
                                                    <td>Subject Test 1</td>
                                                    <td>25 May 2019</td>
                                                </tr>
                                                <tr>
                                                    <td>Subject Test 1</td>
                                                    <td>25 May 2019</td>
                                                </tr>
                                                
                                                <tr>
                                                    <td>Subject Test 1</td>
                                                    <td>25 May 2019</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--  END TOP CAMPAIGN-->
                            </div>
                        </div>


                       
                         
                          

			
                    
                   

					

				</div>
			</main>

			<footer class="footer" style="background-color: rgb(105, 138, 127); color: #fff;">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-left" >
							<p class="mb-0" style="color: #fff;" >
								<strong>Rohit Shaw</strong> &copy;
							</p>
						</div>
						<!-- <div class="col-6 text-right">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a class="text-muted" href="#">Support</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#">Help Center</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#">Privacy</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#">Terms</a>
								</li>
							</ul>
						</div> -->
					</div>
				</div>
			</footer>
		</div>
	</div>
       </div> 
        <!--===== MAIN JS =====-->
        
        



<!-- Main JS-->
<!-- <script src="js/main.js"></script> -->

<!-- <script src="js/style.js"></script> -->
<script src="js/dashboard.js"></script>
</body>
</html>