<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/CSS/student.css">
   
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container" >
    <div class="title">Registration</div>
    <div class="content" style="margin-top: 100px;">
      <form action="/users/addteacher" method="POST">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Teacher Name</span>
            <input type="text" placeholder="Enter your name" name="teacherName" required>
          </div>
          <div class="input-box">
            <span class="details">Teacher Id</span>
            <input type="text" placeholder="Enter your student id" name="teacherId" required>
          </div>
          
          
          <div class="input-box">
            <span class="details">Department</span>
            <select name="teacherDepartment">
              <option value="CSE">Computer Science</option>
              <option value="ECE">Electronics & Communication</option>
              <option value="EEE">Electrical</option>
              <option value="ME">Mechanical</option>
              <option value="CE">Civil</option>
              <option value="AUE">Automobiles</option>
              </select>
          </div>
          <div class="input-box">
            <span class="details">Gender</span>
            <select name="teacherGender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              </select>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" name="teacherEmail" required>
          </div>
          <div class="input-box">
            <span class="details">Phone No.</span>
            <input type="text" placeholder="Enter your phone" name="teacherPhone" required>
          </div>
          



        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div> 
             
      </form>

      <div class="button">
        <a href="/users/welcome"><input type="submit" value="Back"></a>
      </div>
    </div>
  </div>

</body>
</html>
