<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== BOX ICONS ===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="CSS/dashboard.css">
    <link rel="stylesheet" href="CSS/announcement.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <title>DSCSDEC</title>

    <style>

        /*** VARIABLES ***/
/* Colors */
/*** EXTEND ***/
/* box-shadow */
ol.gradient-list > li::before, ol.gradient-list > li {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}

/*** STYLE ***/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  color: #1d1f20;
  font-family: "Raleway", sans-serif;
}

main {
  display: block;
  margin: 0 auto;
  max-width: 40rem;
  padding: 1rem;
}

ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
}
ol.gradient-list > li {
  background: white;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  counter-increment: gradient-counter;
  margin-top: 1rem;
  min-height: 3rem;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
}
ol.gradient-list > li::before, ol.gradient-list > li::after {
  background: linear-gradient(135deg, #83e4e2 0%, #a2ed56 100%);
  border-radius: 1rem 1rem 0 1rem;
  content: "";
  height: 3rem;
  left: -1rem;
  overflow: hidden;
  position: absolute;
  top: -1rem;
  width: 3rem;
}
ol.gradient-list > li::before {
  align-items: flex-end;
  content: counter(gradient-counter);
  color: #1d1f20;
  display: flex;
  font: 900 1.5em/1 "Montserrat";
  justify-content: flex-end;
  padding: 0.125em 0.25em;
  z-index: 1;
}
ol.gradient-list > li:nth-child(10n+1):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.2) 0%, rgba(253, 220, 50, 0.2) 100%);
}
ol.gradient-list > li:nth-child(10n+2):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.4) 0%, rgba(253, 220, 50, 0.4) 100%);
}
ol.gradient-list > li:nth-child(10n+3):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.6) 0%, rgba(253, 220, 50, 0.6) 100%);
}
ol.gradient-list > li:nth-child(10n+4):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.8) 0%, rgba(253, 220, 50, 0.8) 100%);
}
ol.gradient-list > li:nth-child(10n+5):before {
  background: linear-gradient(135deg, #a2ed56 0%, #fddc32 100%);
}
ol.gradient-list > li:nth-child(10n+6):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.8) 0%, rgba(253, 220, 50, 0.8) 100%);
}
ol.gradient-list > li:nth-child(10n+7):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.6) 0%, rgba(253, 220, 50, 0.6) 100%);
}
ol.gradient-list > li:nth-child(10n+8):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.4) 0%, rgba(253, 220, 50, 0.4) 100%);
}
ol.gradient-list > li:nth-child(10n+9):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.2) 0%, rgba(253, 220, 50, 0.2) 100%);
}
ol.gradient-list > li:nth-child(10n+10):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0) 0%, rgba(253, 220, 50, 0) 100%);
}
ol.gradient-list > li + li {
  margin-top: 2rem;
}

    </style>
</head>

<body id="body-pd">
    <header class="header" id="header">
        <div class="header__toggle">
            <i class='bx bx-menu' id="header-toggle"></i>
            <span>Announcements</span>
        </div>

        <div class="header__img" title="UserName">
            <img src="images/pic.JPG" alt="">

        </div>

    </header>

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="/" class="nav__logo" title="Dr. Sudhir Chandra Sur Degree Engineering College">
                    <img src="images/logo.jpeg" class="main-logo">
                    <span class="nav__logo-name">DSCSDEC</span>
                </a>

                <div class="nav__list">
                    <a href="/dashboard" class="nav__link " title="Dashboard" type="submit">
                        <i class='bx bx-home nav__icon'></i>
                        <span class="nav__name">Dashboard</span>
                    </a>

                    <a href="/resource" class="nav__link" title="Resources">
                        <i class='bx bx-book nav__icon'></i>
                        <span class="nav__name">Resources</span>
                    </a>

                    <a href="/announcements" class="nav__link active" title="Announcemnets">
                        <i class='bx bx-notification nav__icon'></i>
                        <span class="nav__name">Announcemnets</span>
                    </a>

                    <a href="/acedmics" class="nav__link" title="Acedmics">
                        <i class='bx bx-book-reader nav__icon'></i>
                        <span class="nav__name">Acedmics</span>
                    </a>

                    <a href="/articles" class="nav__link" title="Articles">
                      <i class='bx bx-book-content nav__icon'></i>
                      <span class="nav__name">Articles</span>
                  </a>

                    <!-- <a href="#" class="nav__link" title="Profile">
                        <i class='bx bx-user nav__icon'></i>
                        <span class="nav__name">Profile</span>
                    </a> -->
                </div>
            </div>

            <a href="/users/logout" class="nav__link" title="Log Out">
                <i class='bx bx-log-out nav__icon'></i>
                <span class="nav__name">Log Out</span>
            </a>
        </nav>
    </div>

    <div class="main-frame">
        <div class="main" style="margin-top: 50px;" >

            

            <!-- List started here -->

            <main >
                <ol class="gradient-list">
                  <li>
                      <h3>Notice Title</h3>
                      <span style="top: 4px; right: 4px; position:absolute; ">Date</span>
                       ipsum dolor sit amet, consectetur adipiscing elit.
                        <button type="button" class="btn btn-primary" style="bottom: 5px; right: 10px; position:absolute; ">click</button>
                    </li>
                  <li>Aenean tincidunt elit at ipsum cursus, vitae interdum nulla suscipit.</li>
                  <li>Curabitur in orci vel risus facilisis accumsan.</li>
                  <li>Morbi eleifend tortor lacinia sapien sagittis, quis pellentesque felis egestas.</li>
                  <li>Aenean viverra dui quis leo lacinia fringilla.</li>
                  <li>Sed varius lectus ac condimentum egestas.</li>
                  <li>Maecenas faucibus lorem nec lorem posuere, a rhoncus velit porttitor.</li>
                  <li>Proin porta arcu ac elit malesuada pulvinar.</li>
                  <li>Phasellus vitae felis sit amet mi gravida volutpat.</li>
                  <li>Curabitur vulputate urna non efficitur interdum.</li>
                  <li>Curabitur dapibus enim in consectetur imperdiet.</li>
                  <li>Suspendisse consectetur nibh non condimentum porta.</li>
                  <li>Ut placerat diam in cursus aliquet.</li>
                  <li>Praesent vitae quam id tortor malesuada viverra ut at elit.</li>
                  <li>Vivamus feugiat justo id volutpat rutrum.</li>
                  <li>Nulla volutpat erat non mauris condimentum, nec consequat elit posuere.</li>
                  <li>Vestibulum eu risus efficitur, porta lacus a, mollis metus.</li>
                  <li>Maecenas finibus arcu vel urna commodo, ac bibendum massa vestibulum.</li>
                  <li>Praesent eleifend leo eget consectetur interdum.</li>
                  <li>Suspendisse et lectus gravida, interdum mauris aliquet, mattis purus.</li>
                  <li>In nec nisl feugiat, blandit odio non, vulputate neque.</li>
                  <li>Sed id felis mollis, bibendum orci a, condimentum augue.</li>
                  <li>Etiam eleifend ipsum nec nibh aliquam, non commodo risus eleifend.</li>
                  <li>Curabitur in ipsum eget lacus blandit maximus in at sem.</li>
                  <li>Curabitur sagittis ante nec libero maximus, ut imperdiet elit egestas.</li>
                  <li>Proin congue felis sed ultrices elementum.</li>
                  <li>Duis sit amet velit et lectus eleifend interdum non quis ex.</li>
                  <li>Praesent congue lectus a felis pharetra malesuada.</li>
                  <li>Sed vel mauris condimentum, egestas dolor eu, porttitor nisl.</li>
                  <li>Donec sed elit tincidunt, accumsan magna sed, facilisis libero.</li>
                  <li>Curabitur vel purus quis justo placerat euismod mollis ac arcu.</li>
                  <li>Sed eget mi et justo luctus mollis ut non augue.</li>
                  <li>Suspendisse sit amet lectus et magna euismod tempor.</li>
                  <li>Vestibulum accumsan velit et ipsum pellentesque, vitae ultricies erat blandit.</li>
                  <li>Pellentesque vel dolor ac risus efficitur convallis.</li>
                  <li>Maecenas feugiat quam at facilisis dapibus.</li>
                  <li>Cras commodo leo sit amet lacus lacinia, eget rutrum sem sodales.</li>
                  <li>Ut sit amet risus finibus, iaculis lectus sit amet, varius lectus.</li>
                  <li>Duis dignissim elit eget erat maximus luctus.</li>
                </ol>
              </main>

            <!-- List ended here -->




        </div>
    </div>




    <script src="js/dashboard.js"></script>
    <script src="js/resource.js"></script>

    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
</body>

</html>