<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/CSS/student.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Resource</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Resource Titel</span>
            <input type="text" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Resource Id</span>
            <input type="text" placeholder="Enter yourTeacher Id " required>
          </div>
          <div class="input-box">
            <span class="details">Department</span>
            <input type="text" placeholder="Enter your department" required>
          </div>
          <div class="input-box">
            <span class="details">Link</span>
            <input type="text" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">Date</span>
            <input type="text" placeholder="Enter your number" required>
          </div>
          <div class="input-box">
            <span class="details">Source</span>
            <input type="text" placeholder="Enter your password" required>
          </div>
          <div class="input-box">
            <span class="details">Auther</span>
            <input type="text" placeholder="Confirm your password" required>
          </div>
        </div>
       <div>
            <a href="#" class="previous">&laquo; Previous</a>
            <a href="#" class="next">Next &raquo;</a>
            
            <a href="#" class="previous round">&#8249;</a>
            <a href="#" class="next round">&#8250;</a>
          </div>
      </form>
    </div>
  </div>

</body>
</html>

